annotated-types
anyio
certifi
charset-normalizer
crcmod
deprecated
fastapi
idna
pydantic
pydantic-core
pytz
requests
six
sniffio
starlette
tos
typing-extensions
typing-inspection
urllib3
wrapt
workers